.form-container {
    display: flex;
    justify-content: center;
}

.formulario {
    width: 60%;
}

.form-container h2 {
    color: rgb(255, 178, 78);
    border-bottom: 1px solid rgb(255, 178, 78);
}

.form-div-input {
    display: inline-block;
    width: 50%;
}

.form-div label {
    display: block;
}

.form-div input {
    border: 0.5px solid black;
    padding: 10px;
    width: 90%;
}